.container {
    // background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 14px;
    padding: 1rem 1.5rem;
    width: 25rem;
}

.title {
    margin: 0;
}

.rateIndicator, .blue {
    color: #1890FF;
    font-weight: bold;
}

.swapButton {
    border-radius: 14px;
}

.submitButton {
    border-radius: 8px;
}